body {
  font-family: 'Cardo', serif;
  color: #c0ccd4;
 }
 
h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  color: #ffce00;
}

h1, h2{
  font-size: xx-large;
  padding: 3px;
}

ul {
  list-style-type: square;
}

.basic {
  background: #484d5c;
  border: 3px solid black;
  border-style: round;
}

footer{
    background-color: black;
    color: white;
    padding: 30px;
    text-align: center;
  } 

header{
    background: black;
    border-bottom: 3px solid black;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
  
.nav_links{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 95vw;
    padding: 15px 3px;
    flex-wrap: wrap;
}
.active a{
  color:#11d3e8 !important;
  background-color: #454040d4;
  padding: 20px 10px;

}

.nav_item a{
  color: #ffce00;
  font-size: larger;
  text-decoration: none;
}
  
.nav_item a:hover, a:focus{
    color: #11d3e8;

}
  
  
@media screen and (min-width: 850px){
 
}
  
  
 
@media screen and (prefers-reduced-motion: reduce){
   
}