body {
  font-family: 'Cardo', serif;
  color: #c0ccd4;
  background: black;
  
 }

p {
  padding: 40px;
  font-size: larger;
}
 
h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  color: #ffce00;
}

h3{
  font-size: x-large;
  padding-left:20px;
}

a {
  padding-top: 20px;
}

h1, h2{
  font-size: xx-large;
  padding: 20px;
  display: block;
  margin: 0 auto;
  text-align: center;
}

ul {
  list-style-type: square;
}
li {
  padding-bottom: 20px;
  font-size: larger;
}

#main {
  text-align: center;
  background-color: #231f1f;
  border-bottom: 5px solid #ffce00;
}

.extra {
  background: #484d5c;
  border: 3px solid black;
  border-style: round;
}

.extra a{
  color: #ffce00;
}

footer{
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
  } 
footer ul {
  display:flex;
  justify-content: space-between;
  flex-direction: column;
  list-style-type: none;
  padding:0px;
}

footer a{
  color: #ffce00;
  font-size: medium;
  text-decoration: none;
}

footer a:hover, a:focus{
  color: white;
}

footer h1{
  padding:0px;
  font-size: large;
}

header{
    background: black;
    border-bottom: 3px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
.nav_links{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 95vw;
    padding: 15px 3px;
}


.active a{
  color: white !important;
  background-color: #484d5c;
  text-transform: uppercase;

}

.nav_item a{
  color: #ffce00;
  font-size: larger;
  text-decoration: none;
}
  
.nav_item a:hover, a:focus{
    color: white;
}


.information {
  display: grid;
}

img {
  width: 100%;
}




 /* NEED TO FINISH */
@media screen and (min-width: 850px){


  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }

  
  header{
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }
  .nav_links{
    flex-direction: row;
    justify-content: space-around;
  }
  .active a{
    padding: 20px 10px;
  }

  footer ul{
    flex-direction: row;
    justify-content: space-around;
  }

  .extra {
    border-radius: 25px;
  }

  .information {
    display: grid;
    grid-template-rows: 1fr 30px 1fr 30px 1fr 20px;
  }

  .academics {
    grid-row: 3;
  }

  #main {
    grid-row:1
  }

  .athletic {
    grid-row: 5;
  }
}
