body {
  font-family: 'Cardo', serif;
  color: #c0ccd4;
  background: black;
  
 }
@-webkit-keyframes ball_move{
  from {left: -150px;}
  to {left: 150px;}

}

@keyframes ball_move{
  from {left: -150px;}
  to {left: 150px;}
} 

#ball {
  animation-name: ball_move;
  position: relative;
  animation-duration: 6s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-out;

}

p {
  padding: 40px;
  font-size: larger;
}
 
h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  color: #ffce00;
}

h3{
  font-size: x-large;
  padding-left:20px;
}

a {
  padding-top: 20px;
}

h1, h2{
  font-size: xx-large;
  padding: 20px;
  display: block;
  margin: 0 auto;
  text-align: center;
}

.skip a:focus {
  position: absolute;
  top: 0px;
  margin: auto;
  }


.skip a{
  left: 0;
  padding: 6px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
  position: absolute;
  top:-40px;
  color: #ffce00;
}

ul {
  list-style-type: square;
}
li {
  padding-bottom: 20px;
  font-size: larger;
}

#main {
  text-align: center;
  background-color: #231f1f;
  border-bottom: 5px solid #ffce00;
}

.extra {
  background: #484d5c;
  border: 3px solid black;
  border-style: round;
}

.extra a{
  color: #ffce00;
}

footer{
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
  } 
footer ul {
  display:flex;
  justify-content: space-between;
  flex-direction: column;
  list-style-type: none;
  padding:0px;
}

footer a{
  color: #ffce00;
  font-size: medium;
  text-decoration: none;
}

footer a:hover, a:focus{
  color: white;
}

footer h1{
  padding:0px;
  font-size: large;
}

header{
    background: black;
    border-bottom: 3px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
.nav_links{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 95vw;
    padding: 15px 3px;
}


.active a{
  color: white !important;
  text-transform: uppercase;
  font-size: 25px !important;

}

.nav_item a{
  color: #ffce00;
  font-size: larger;
  text-decoration: none;
}
  
.nav_item a:hover, a:focus{
    color: white;
}


.information {
  display: grid;
}





 /* NEED TO FINISH */
@media screen and (min-width: 850px){

  @-webkit-keyframes ball_move{
    from {left: 0px;}
    to {left: 500px;}
  
  }
  
  @keyframes ball_move{
    from {left: -500px;}
    to {left: 500px;}
  } 


  .footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
  }

  
  header{
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
  }
  .nav_links{
    flex-direction: row;
    justify-content: space-around;
  }
  .active a{
    padding: 20px 10px;
  }

  footer ul{
    flex-direction: row;
    justify-content: space-around;
  }

  .extra {
    border-radius: 25px;
  }

  .information {
    display: grid;
    grid-template-rows: 1fr 250px 1fr 250px 1fr 20px;
  }

  .academics {
    grid-row: 3;
  }

  #main {
    grid-row:1
  }

  .athletic {
    grid-row: 5;
  }

  .parallax{
    background-image: url('field.jpg');
    background-color: black;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 1000px;
  }
}

@media screen and (prefers-reduced-motion: reduce){
  html{
      scroll-behavior: auto; /* Removes scroll animation */
  }

  .skip a{
    -webkit-transition: none; /* sets to default setting */
    transition: none;        /* sets to default setting */
   }

  /*Turn off parallax*/
  .parallax{
    background-attachment: initial;
  }
}
