body {
  font-family: 'Cardo', serif;
 }
 
h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
 }
  
footer{
    background-color: black;
    color: white;
    padding: 30px;
    text-align: center;
  } 

header{
    background:gray;
    border-bottom: 3px solid black;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
}
  
.nav_links{
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
}
  
  
.nav_item a:hover, a:focus{
    color: white;
    text-decoration: underline;

}

  /*Begin your code here*/
  /*Keyframes for animation*/
  
  /* @-webkit-keyframes logo_wiggle{
    0% {width:25px;}
    100% {width:420px;}
  
  }
  
  @keyframes logo_wiggle{
    0% {width:25px;}
    100% {width:420px;}
  } */

 


 /* 
nav{
    border-bottom: 3px solid black;
    padding: 10px 20px;
    text-align: center;
    background-color:gray;
}

.nav_item a:hover, a:focus{
  color: white;
  text-decoration: underline;

  
  @media screen and (min-width: 850px){
 
  }
  
  
 
  @media screen and (prefers-reduced-motion: reduce){
   
  }
  */