body {
  font-family: 'Cardo', serif;
  color: #c0ccd4;
 }
 
h1, h2, h3, h4, h5, h6 {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
  color: #ffce00;
}

h1, h2{
  font-size: xx-large;
  padding: 3px;
}
@-webkit-keyframes logo_wiggle{
  0% {width:10px;}
  100% {width:70px;}

}

@keyframes logo_wiggle{
  0% {width:10px;}
  100% {width:70px;}
} 

#logo{
  animation-name:logo_wiggle;
  display: inline;
  width: 70px;
  padding-left: 150px;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
ul {
  list-style-type: square;
}

.basic {
  background: #484d5c;
  border: 3px solid black;
  border-style: round;
}

footer{
  background-color: black;
  color: white;
  padding: 10px;
  text-align: center;
} 
footer ul {
display:flex;
justify-content: space-between;
flex-direction: column;
list-style-type: none;
padding:0px;
}

footer a{
color: #ffce00;
font-size: medium;
text-decoration: none;
}

footer a:hover, a:focus{
color: white;
}

footer h4{
padding:0px;
font-size: large;
}

header{
    background: black;
    border-bottom: 3px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
.nav_links{
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    width: 95vw;
    padding: 15px 3px;
}
.active a{
  color: white !important;
  background-color: #484d5c;
  text-transform: uppercase;

}

.nav_item a{
  color: #ffce00;
  font-size: larger;
  text-decoration: none;
}
  
.nav_item a:hover, a:focus{
    color: white;
}


.information {
  display: grid;
}

#main-photos, #family-photos, #univ-photos, #facts-photos{
  display: grid;
  grid-template-columns: 1fr;
}

img {
  width: 100%;
}




 /* NEED TO FINISH */
  @media screen and (min-width: 850px){
    header{
      flex-direction: row;
      justify-content: flex-end;
      align-items: center;
    }
    .nav_links{
      flex-direction: row;
      justify-content: space-around;
    }
    .active a{
      padding: 20px 10px;
    }
    

    .information {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
    }

    footer ul{
      flex-direction: row;
      justify-content: space-around;
    }



    #main-photos, #family-photos, #univ-photos, #facts-photos{
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    #main-photos img:first-child {

    }

    #main-photos img:last-child {

    }

    #family-photos{
      display: flex;
    }
    
    #univ-photos{


    }
    #facts-photos{

    }
  }
 
@media screen and (prefers-reduced-motion: reduce){
  #logo {
    animation: none;
  
  }
  }